.encounter
	img(src = "/images/creatures/#{creature.creature_name}.png")
	p= "#{creature.creature_alias} has challenged #{character.character_name} to a battle!"
	p= "What will #{character.character_name} do?"