extends layout

block append links
	script(src="/javascripts/dressroom.js")

mixin wardrobe-col()
	#wardrobe-col
		#wardrobe
			#wardrobe-inner
				ul#subcategory-tabs
					li.hover-pointer= "base"
					li.hover-pointer= "face"
					li.hover-pointer= "hair"
					li.hover-pointer= "head"
					li.hover-pointer= "top"
					li.hover-pointer= "bottom"
					li.hover-pointer= "feet"
					li.hover-pointer= "back"
				#subcategory-items
					ul
						- for item, i in wardrobe
							li.wardrobe-item.hover-pointer( 
								data-item-name= item.name, 
								data-item-in-outfit= item.in_outfit, 
								data-item-variety= item.varieties[0], 
								data-item-id= item._id.toString().replace(/"/g, ""))

mixin equipped-col(outfit)
	#equipped-col
		#equipped
			#equipped-inner
				#equipped-items
					ul
						mixin equipped-layer(outfit, "front")
						mixin equipped-layer(outfit, "back")
						
mixin equipped-layer(outfit, layerName)
	- var layer = outfit.layers[layerName];
	li.equipped-layer( id = "equipped-layer-" + layerName )
		p.header= layerName
		ul
			- if (layer.length > 0)
				- for (var j = layer.length-1; j >= 0; j--)
					mixin equipped-item(layer[j])
			- else
				li
					span= "empty"


mixin equipped-item(equipDesc)
	li.equipped-item( data-item-name= equipDesc.item.name, data-item-id= equipDesc.item._id.toString().replace(/"/g, ""))

block inner-content
	#dressroom
		mixin wardrobe-col()
		#preview
			#preview-actions
				button#save-as-current= "save"
			#preview-inner
				img#outfit-preview(src="/images/testout.png")
		mixin equipped-col(character.outfits["wip"])
